body {
  margin: 0%;
}
h1 {
  font-size: 35px;
}
.section-1 {
  background-image: url(images/hb\ rice.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 480px;
  display: flex;
  box-shadow: 1px 1px 8px 3px rgb(31, 45, 56);
}
.welcome {
  background-image: linear-gradient(#0089ff82, #00ff439e);
  height: 250px;
  width: 300px;
  margin-left: 30px;
  margin-top: 50px;
  padding: 20px;
  box-shadow: 1px 0px 6px 3px rgb(184, 223, 255);
  color: rgb(255, 197, 197);
}
.foodzone {
  color: rgba(206, 103, 44, 0.918);
}
.section-2 {
  display: flex;
}
.female-info {
  color: rgb(192, 171, 171);
  width: 40%;
  margin: 5%;
  padding: 5%;
}
.contract {
  background-color: rgba(196, 209, 100, 0.918);
  text-decoration: none;
  border-radius: 20px;
  padding: 15px;
  font-weight: 900;
}
.section3 {
  background-image: linear-gradient(#ff00007d, pink);
  height: 450px;
  display: flex;
}
.chef {
  width: 40%;
  margin-left: 5%;
  margin-top: 2%;

  color: rgb(253, 238, 227);
  text-transform: capitalize;
}
.section-4 {
  text-align: center;
  box-shadow: 1px 2px 7px 3px rgb(196, 196, 199);
  margin: 40px;
  padding: 10px;
}
.food {
  width: 30%;
  margin: 3%;
  padding: 2%;
  box-shadow: 1px 0px 6px 3px rgb(184, 223, 255);
  border-radius: 20px;
}
footer {
  background-color: black;
  color: aliceblue;
  text-align: center;
  padding: 5px;
}
#copyright {
  color: brown;
}
.section-5 {
  display: flex;
  justify-content: space-around;
  box-shadow: 1px 2px 6px 3px red;
  margin: 40px;
}
